<h1 class="text-center">Welcome to Ye Ole Burger Shoppe</h1>



<div class="row">
  <div class="col-4">
    <div class="card">
      <div class="card-header text-center">
        <h3>Click One To Eat It!</h3>
      </div>
      <div class="card-body text-center">
        {{#unless uneatenBurgers}}
        <h3>No Burgers Available!</h3>
        {{/unless}}
        {{#each uneatenBurgers}}
        <button class="btn btn-block btn-info eat-burger-btn" id={{id}}>{{burger_name}}!</button>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="col-md-4 push-xs-4" align="center">
    <form class="mt-5 text-center" id="burger-form">
        <label for="burgerInput"><h3>Enter Your Dream Burger</h3></label>
        <input style="text-align: center" type="text" class="form-control" name="burgerName" id="burgerInput" rows="3"></input>
        <button type="submit" class="btn btn-primary m-3">Submit</button>
    </form>
  </div>
  <div class="col-4 ">
    <div class="card">
      <div class="card-header">
        <h3>Eaten Burgers</h3>
      </div>
      <div class="card-body">
        <ul>
          {{#unless eatenBurgers}}
          <h3>No one has ate yet!</h3>
          {{/unless}}        
          {{#each eatenBurgers}}
          <li>{{burger_name}}</li>
          {{/each}}
        </ul>
      </div>  
    </div>
  </div>
</div>

