<h1>Welcome to Ye Ole Burger Shoppe</h1>
<ul>
  {{#each uneatenBurgers}}
  <li>{{burger_name}}</li>
  {{/each}}
</ul>

<form action="/api/burgers" method="post">
    <label for="burgerInput">Enter Your Dream Burger</label>
    <input style="text-align: center" type="text" class="form-control" name="burgerName" id="burgerInput" rows="3"></input>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>